<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Poke Api</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item *ngFor="let pokemon of listPokemon">
    <ion-thumbnail slot="start">
      <img [src]="urlBaseImg + pokemon.id.toString().padStart(3,'0') + '.png'">
    </ion-thumbnail>

    <ion-label>
      <div>
        <h3>{{ pokemon.name | titlecase }}</h3>
        <ion-badge *ngFor="let tipo of pokemon.types" [color]="tipo['type']['name']"> {{tipo['type']['name'] |
          uppercase}} </ion-badge>
      </div>
    </ion-label>

    <ion-chip [color]="pokemon['types'][0]['type']['name']" slot="end">
      <ion-label>{{pokemon.id.toString().padStart(3, '0')}}</ion-label>
    </ion-chip>
  </ion-item>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="previous">
      <ion-button (click)="previusPage(previous)">
        <ion-icon slot="icon-only" name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">{{page}} of {{totalPages(count)}}</ion-title>

    <ion-buttons slot="end" *ngIf="next">
      <ion-button (click)="nextPage(next)">
        <ion-icon slot="icon-only" name="arrow-forward-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>